<!doctype html>
<html>
  <head>
    {% if title -%}
    <title>{{ title }} - testblog</title>
    {%- else -%}
    <title>testblog</title>
    {%- endif %}
  </head>
  <body>
    <div>hello~:
      <a href="/index">Home</a> |
      <a href="/register">Register</a> |
      {%- if g.user.is_authenticated() %}
      <a href="{{ url_for('user', name=g.user.username) }}">My profile</a> |
      <a href="{{ url_for('upload') }}">Upload</a> |
      <a href="{{ url_for('logout') }}">Logout</a>
      {%- else %}
      <a href="{{ url_for('login') }}">Login</a>
      {%- endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() -%}
    {% if messages %}
    <ul>
    {%- for message in messages %}
      <li>{{ message }} </li>
    {% endfor -%}
    </ul>
    {% endif %}
    {%- endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
